.formWrapper {
  display: flex;
  flex-direction: row;
  width: 40%;
  height: 15%;

  background-color: var(--bgWhite);
  border: solid 1.5px var(--bgBlack);
  border-radius: 15px;
  justify-content: center;
  align-items: center;
}

.inputWrapper {
  display: inline-flex;
}

.formSelect {
  display: inline-flex;
}
